*{
    margin: 0px;
    padding: 0px;
}

.section, header{
    min-height: 100vh;
    padding: 30px;
}

header{
    background-color: blueviolet;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    pad: 100px;
}

.links_container{
    display: flex;
    gap: 20px;
}

.links_container a{
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

header h1{
    color: gold;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    width: 60%;
    margin-top: 230px;
}

.card_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10%;
}

.card{
    width: 200px;
    background-color: black;
    padding: 20px 30px;
}

.card h2, p{
    color: wheat;
    font-family: 'Courier New', Courier, monospace;

}

.card p{
    font-style: italic;
    font-size: smaller;
    padding: 8%;
}

.card button{
    color: wheat;
    background-color: transparent;
    border: 1px solid gold;
    padding: 5px 50px;
}

#sec-2{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 20px;
}

