*{
    margin: 0px;
    padding: 0px;
}

.section, header{
    min-height: 100vh;
    padding: 30px;
}

header{
    background-color: blueviolet;
    background-image: url("https://professional.dce.harvard.edu/wp-content/uploads/sites/9/2021/11/building-consulting-business.gif");
    background-size: cover;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    pad: 100px;
    color: gold;
    font-size: large;
}

.links_container{
    display: flex;
    gap: 20px;
}

.links_container a{
    color: gold;
    font-family: 'Courier New', Courier, monospace;
}

header h1{
    color: gold;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    width: 60%;
    margin-top: 230px;
}

.card_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10%;
}
 
.card{
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    opacity: 100%;
    border-radius: 20px;
}

.card h2, .card p{
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    opacity: 100%;

}

.card p{
    font-style: italic;
    font-size: smaller;
    padding: 8%;
    opacity: 100%;
}

.card button{
    color: wheat;
    background-color: transparent;
    border: 1px solid gold;
    padding: 5px 50px;
    opacity: 100%;
    border-radius: 7px;
}

#sec-2{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "img2 div2"
                         "div3 img3";
    grid-column-gap: 35px;
    grid-row-gap: 90px;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    margin: 20px;
}

#sec-2 h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    padding-bottom: 20px;

}

#sec-2 p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 1.5;
}

#sec-2 .img2{
    grid-area: img2;
    justify-content: center;
    align-items: center;
}

#sec-2 .img2 img{
    border-radius: 40px;
    width: 100%;
}

#sec-2 .div2{
    grid-area: div2;
    padding: 10%;
    background-color: rgba(255, 217, 102, 0.5);
    border-radius: 30px;
}

#sec-2 .div3{
    grid-area: div3;
    padding: 10%;
    background-color: rgba(255, 217, 102, 0.5);
    border-radius: 30px;
}

#sec-2 .img3{
    grid-area: img3;
}

#sec-2 .img3 img{
    border-radius: 40px;
    width: 100%;
}


